/* global styles  */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    transition: 0.3s;
}

.primary-color {
    color: #E55473;
}

.btn-primary {
    background-color: #E55473;
    border: 0;
    border-radius: 8px;
    padding: 20px 40px;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
}

.main-content {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    max-width: 600px;
    margin: 0 auto;
    padding: 30px 0;
}

/* header styles */
header {
    background: rgba(229, 84, 115, 0.10);
    width: 100vw;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px 0px 150px;
}

.header-info {
    max-width: 700px;
}

.header-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.header-description {
    width: 630px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 30px;
    padding: 30px 0;

}

/* featured section styles  */
.featured-section {
    margin-top: 150px;

}

.featured-flowers {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin: 50px 0;
}

.featured-item {
    border-radius: 300px 300px 0px 0px;
    background-color: blueviolet;
    min-width: 460px;
    min-height: 535px;
    text-align: center;
    padding-bottom: 0;
}

.item-one {
    display: flex;
    justify-content: center;
    align-items: end;
    background: rgba(167, 33, 98, 0.15);
}

.item-two {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(5, 151, 160, 0.15);
}

.item-three {
    display: flex;
    justify-content: center;
    align-items: end;
    background: rgba(71, 125, 17, 0.15);
}

.featured-caption-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.featured-caption {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-decoration-line: underline;
    min-width: 460px;
}

.middle-caption {
    padding: 0 60px;
}

/* featured bottom section  */
.featured-bottom-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 130px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 88px 0;
}

.item {
    text-align: center;
}

.item p {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    padding-top: 24px;
}


/* hot deal section  */
.hot-deal-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px 0;
    padding: 100px 0;
    gap: 180px;
    background: rgba(229, 84, 115, 0.05);
    width: 100vw;
}

.hot-deal-info {
    text-align: center;
}

.hd-description {
    max-width: 600px;
}


/* instagram section  */
.instagram-section {
    text-align: center;
}

.instagram-section p {
    max-width: 600px;
    margin: 0 auto;
}

.instagram-posts {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin: 30px 0;
}

/* get in touch  */

.get-in-touch {
    width: 100vw;
    height: 700px;
    background: rgba(229, 84, 115, 0.05);
    padding: 100px 0;
    margin: 150px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.left {
    border-radius: 10px 0px 0px 10px;
    margin-right: -3px;
    background-image: url('../images/Rectangle\ 4.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    min-width: 500px;
    padding: 45px;
}

.right {
    border-radius: 0px 10px 10px 0px;
    min-height: 600px;
    min-width: 500px;
    padding: 45px;
    background-color: #E5D8D0;
}

.right h3 {
    font-weight: 800;
}

.get-in-touch-form {
    margin-top: 35px;
}

.input {
    padding: 23px;
    border: 0;
    border-radius: 8px;
    display: block;
    width: 450px;
    margin-bottom: 25px;
    font-size: 20px;
    box-shadow: 4px 5px 9px gray;
}

.btn {
    width: 100%;
    box-shadow: 4px 5px 9px gray;
}



/* latest deals section  */
.latest-deals-section {
    width: 1440px;
    height: 450px;
    margin: 150px auto;
    background-image: url("../images/Rectangle\ 9.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.latest-deals-title {
    padding-top: 122px;
}

.latest-deal-description {
    font-weight: 800;
}

.form input {
    width: 660px;
    padding: 24px;
    margin: 48px 16px 0 0;
    display: inline;
    border: 0;
    border-radius: 8px;
}




/* footer section  */

.footer {
    text-align: center;
    background-color: black;
    padding: 130px 0;
    width: 100vw;
}

.footer-title {
    color: #FFF;
    font-size: 48px;
    font-weight: 800;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
}

.copy-right {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
}